/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-block-size: 100vh;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-font-weight);
  color: var(--main-color);
  font-size: var(--main-font-size);
  line-height: var(--main-font-line-height);
  /* Градиентный фон */
  background-image:
    repeating-linear-gradient(90deg, var(--main-bg-color-light) 0, var(--main-bg-color-light) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(0deg, var(--main-bg-color-light) 0, var(--main-bg-color-light) 2px, transparent 2px, transparent 4px),
    linear-gradient(180deg, var(--bg-gradient-start-light) 0.01%, var(--bg-gradient-end-light) 100%);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header,
.footer,
.content-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

/* Хедер */

.header {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
  max-width: 700px;
  min-height: 327px;
  height: 368px;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
}

.header__title {
  margin-top: 158px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-section__subtitle {
  margin-top: 42px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

}

.header__theme-menu {
  margin: 24px 0 0 315px;
  font-size: 14px;

}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 7px;
  text-align: left;
}

.theme-menu__button {
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  margin-left: -20px;
  animation: arrow-move 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: 0.3s ease;
  pointer-events: none;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  margin-top: -3px;
  background-color: var(--main-color);
  transition: width 0.5s;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

/* Контент */

.content-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 698px;
  box-sizing: border-box;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  text-align: left;
  margin-bottom: 48px;
}

.content-section__title {
  font-variation-settings: 'wght' var(--header-font-weight);
  line-height: var(--header-font-line-height);
  font-size: var(--main-font-size);
  padding: 5px 0 5px 10px;
}

.image-section {
  max-width: 100%;
  position: relative;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.image_label {
  font-family: var(--accent-font);
  position: absolute;
  right: 25px;
  top: 20px;
  opacity: 50%;
  -webkit-text-stroke: 1px var(--background-color);
  font-size: 14px;
}

.card_image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: 96% center;
}

.content-section-paragraphs {
  margin: 25px;
  gap: 27px;
}

.content-section__text:nth-child(1) {
  margin-right: -2px;
}

.content-section__text:nth-child(2) {
  margin-top: 27px;
  margin-bottom: 28px;
}

/* Кнопки */

.buttons-section {
  display: flex;
  justify-content: end;
  font-size: 14px;
  align-items: center;
  gap: 4px;
}

/* Сердечко */

.card__icon-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 38px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
  transition: 0.3s ease;
}

.sparks {
  opacity: 0;
}

/* Кнопка Лайк */

.card__like-button {
  padding-block: 8px;
  min-width: 130px;
  position: relative;
  z-index: 0;
  background-color: var(--background-color);
  transition: 0.3s ease;
  overflow: hidden;
  border: 2px solid var(--main-color);
}

.button__text,
.button__icon {
  position: relative;
  font-family: var(--accent-font);
  font-size: 14px;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;

}

/* Анимации кнопок */

.card__like-button:focus,
.footer__save-button:focus,
.dialog__button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.footer__save-button:focus-visible,
.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
  transition: 0.3s ease;
}

.card__like-button::before,
.footer__save-button:before,
.dialog__button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.card__like-button:hover::before,
.footer__save-button:hover:before,
.dialog__button:hover:before {
  transform: translateX(100%);
}

/* Фильтры для картинок */
.filter_combined {
  filter: sepia(0.1) contrast(2) brightness(150%)
}

.filter_grayscale {
  filter: grayscale(0.8);
}

.filter_blur {
  filter: blur(0.2rem);
}

.filter_contrast {
  filter: contrast(140%);
}

.filter_invert {
  filter: invert(2);
}

.filer_sepia {
  filter: sepia(80%);
}

.filer_hue-rotate {
  filter: hue-rotate(60deg);
} 


/* Футер */
.footer {
  /* padding-top: 50px; */
  padding-bottom: 103px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__save-button {
  display: flex;
  gap: 8px;
  padding-block: 15px;
  padding-inline: 20px;
  align-items: center;
  align-self: center;
  background-color: var(--background-color);
  overflow: hidden;
  position: relative;
  border: 2px solid var(--main-color);
}

.button__icon {
  width: 21px;
  height: 21px;
}

/* Диалог */

.dialog {
  background-color: var(--background-color);
  width: 353px;
  height: 191px;
  padding: 30px;
  border: 2px solid var(--main-color);
}

.dialog[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.dialog__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-bottom: 30px;
  color: var(--main-color);
}

.dialog__button-icon {
  inline-size: 80px;
  fill: var(--accent-color);
}

.dialog__button {
  display: flex;
  gap: 8px;
  padding-block: 17px;
  padding-inline: 130.5px;
  align-items: center;
  align-self: center;
  background-color: var(--background-color);
  overflow: hidden;
  position: relative;
  transition: 0.3s;
  border: 2px solid var(--main-color);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

/* __________________________________________________________________________________________ */

/* Медиазапросы <= 375px */

@media (max-width: 375px) {

  .header {
    inline-size: 100%;
    align-items: center;
    height: 327px;
  }

  .footer__save-button {
    flex-direction: column;
  }

  .header__title {
    margin-top: 134px;

  }
  .header-section__subtitle {
    margin-top: 31px;
  }

  .header__theme-menu {
    margin: 17px 0 0px 22px;
  }

  .main {
    inline-size: 100%;
  }

  .content {
    width: 100%;
  }

  .content-section__title {
    padding: 5px 10px 4px 10px;
  }

  .image-section {
    height: 375px;
  }

  .content-section__text:nth-child(2) {
    margin-bottom: 23px;
  }

  .button__icon {
    width: 28px;
    height: 28px;
  }
}
